{% extends "base.html" %}
{% block title %}HomeBakedPi{% endblock %}

<!--This is the drop down menus added to the nav bar if the user is logged in-->
{% block nav_drop %}
        {% if session.logged_in %}


            <!--Environmental monitoring drop down menu-->
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Nodes<span class="caret"></span></a>
                <ul class="dropdown-menu">

                    {% for envNode in listNodes %}
                    <li><a href="{{ url_for('nodeDetailed',selNode=envNode,selSensorNum=0,selGrafTable='Table',selTimePeriode='1 Day') }}">{{envNode}}</a></li>
                    {% endfor %}



                </ul>
            </li>


            <!--Actuators drop down menu-->
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Actuators<span class="caret"></span></a>
                <ul class="dropdown-menu">


                    {% for act in actuators %}
                    <li><a href="{{ url_for('toggleActuator',selActuator=act[0]) }}">{{act[0]}}</a></li>
                    {% endfor %}

                    <li><a href="{{ url_for('setSchedules') }}">Schedule settings</a></li>


                </ul>
            </li>


            <!--Config drop down menu-->
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Config<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('systemActivation') }}">System activation params</a></li>
                    <li><a href="{{ url_for('setThresholds') }}">Threshold settings</a></li>



                </ul>
            </li>


        {% endif %}

{% endblock %}
