
{% extends "baseLogged.html" %}



<!--System activation parameters content-->
{% block page_content %}

    <h3>System activation parameters</h3>

    <p><br> </p>

    <!--Form for the low and high thresholds-->
    <form action="{{ url_for('systemActivation') }}" method="post">

        {{ form.csrf_token }}

        <div style="width: 100%">

        <div class="container">

            <div style="width: 100%">
            {{form.envActivation.label(class="col-xs-2")}}

            {{ form.envActivation(checked=monitorState[0]) }}


            </div>

            <p><br> </p>

            <div style="width: 100%">
            {{form.occpActivation.label(class="col-xs-2")}}

            {{ form.occpActivation(checked=monitorState[1]) }}

            </div>


        </div>

        </div>

        <p><br> </p>

        <button type = "submit" class = "btn btn-default">Submit</button>
    </form>

{% endblock %}