
{% extends "baseLogged.html" %}

<!--System overview page content added to the page content place holder-->
{% block page_content %}


    <p>The HomeBakedPi project is a set of open source Python modules and Arduino code that can be used to assemble a home monitoring system.
    A typical system is composed of sensors and actuators that are connected to nodes. The nodes  read the sensors and activate the actuators. Data from the sensors is transmitted to a Hub that acts as a coordinator for all of the home monitoring system activites.</p>


    <img src="./static/archi.png" alt="Architecture" height="400" width="500">

    <p>Arduino sensor node with temperature, humidity, barometric pressure and light sensor and an Xbee module. The Node communicates with the Hub using Xbee wireless modules.</p>

    <img src="./static/node.jpeg" alt="Architecture" height="400" width="500">

{% endblock %}